<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Confirmation</title>
 <link rel="stylesheet" href="/static/css/checkout.css">
  </head>
 <div class="container">
  <div class="cookiesContent" id="cookiesPopup">
    <button class="close">✖</button>
    <img src="/static/images/6617.jpg" />
    <p>Order placed with Olive Garden. <br> Your food is on the way :)</p>
    <button class="accept"><a href="{%url 'index'%}">Continue</a></button>
  </div>
</div>
  </body>
</html>
